node_modules/
backend/node_modules/
baana_app/.dart_tool/
baana_app/.packages
baana_app/.pub/
baana_app/build/
baana_app/.flutter-plugins
baana_app/.flutter-plugins-dependencies
.env*
.env
database.sqlite
.DS_Store

Stitch_Mouhammad/
stitch_Ngary/
images/
comfortaa/
SenDigitalPulse_CharteGraphique.pptx

# Fichiers générés (tests, rapports)
coverage/
*.doc
dashboard.json
dashboard_stats.json
subscriptions.json
